**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/Dockerfile*
**/.dockerignore
**/*.md
**/docker-compose*.yml
**/docker-compose*.yaml
**/docker
**/.idea
**/node_modules
**/.env
**/.env.*
**/*.user
**/*.suo
**/Tests
**/*.Tests
**/*.tests
